<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD BOOK</title>
</head>
<body>
    <form method="POST" action="">
            ISBN <input type="number" name="ISBN"/>
            <br>
            title <input type="text" name="title"/>
            <br>
            author <input type="text" name="author"/>
            <br>
            year <input type="number" name="year"/>
            <br>
            <input value="ADD BOOK" type="submit"/>
    </form>
</body>
</html>