<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project 3</title>
</head>
<body>
    <div>
        <form action="/add_book">
            <input value="ADD BOOK" type="submit">
        </form>
        <form action="/delete_book">
            <input value="DELETE BOOK" type="submit">
        </form>
        <form action="/all_books">
            <input value="SHOW BOOKS" type="submit">
        </form>
        <form action="/add_user">
            <input value="ADD USER" type="submit">
        </form>
        <form action="/all_users">
            <input value="ALL USERS" type="submit">
        </form>
        <form action="/delete_user">
            <input value="DELETE USER" type="submit">
        </form>
        <form action="/search_book">
            <input value="SEARCH BOOK" type="submit">
        </form>
        <form action="/borrow_book">
            <input value="BORROW BOOK" type="submit">
        </form>
        <form action="/show_borrowed_books">
            <input value="SHOW BORROWED BOOK" type="submit">
        </form>

    </div>
</body>
</html>