<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEARCH BOOK</title>
</head>
<body>
    <h1>Seach according to:</h1>
    <form action="/search_isbn">
        <input value="ISBN" type="submit">
    </form>
    <form action="/search_title">
        <input value="Title" type="submit">
    </form>
    <form action="/search_author">
        <input value="author" type="submit">
    </form>
    <form action="/search_year">
        <input value="year" type="submit">
    </form>
</body>
</html>